@charset "UTF-8";
/* line 10, ../sass/style.scss */
body {
  background-color: #ecf0f2;
  color: #2980b9;
  font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 15, ../sass/style.scss */
a {
  text-decoration: none;
  color: #ecf0f2;
  /* &:link{
  	color: $gray;
  }
  &:visited{
  	color: $gray;
  }
  &:hover{
  	color: $bgray;
  	text-decoration: underline;
  }
  &:active{
  	color: $gray;
  } */
}
/* line 4, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/links/_hover-link.scss */
a:hover, a:focus {
  text-decoration: underline;
}
/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #c9c9c9;
}

/* line 32, ../sass/style.scss */
h1 {
  font-size: 36px;
}
/* line 34, ../sass/style.scss */
#profile h1 {
  font-size: 73px;
  font-weight: bold;
}
/* line 38, ../sass/style.scss */
.lfooter h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ecf0f2;
}

/* line 44, ../sass/style.scss */
h2 {
  font-size: 24px;
}
/* line 46, ../sass/style.scss */
#profile h2 {
  font-weight: bold;
}
/* line 49, ../sass/style.scss */
#pflLeft h2 {
  text-align: center;
}

/* line 53, ../sass/style.scss */
h3 {
  font-size: 16px;
}
/* line 55, ../sass/style.scss */
#profile h3 {
  font-weight: bold;
}
/* line 58, ../sass/style.scss */
#pflLeft h3 {
  text-align: center;
  padding-top: 20px;
}
/* line 62, ../sass/style.scss */
#plfRight h3 {
  text-align: center;
  padding-top: 10px;
}
/* line 66, ../sass/style.scss */
#plfRightTop h3 {
  padding-bottom: 5px;
}

/* line 70, ../sass/style.scss */
h4 {
  font-size: 14px;
}
/* line 72, ../sass/style.scss */
#profile h4 {
  font-weight: bold;
}
/* line 75, ../sass/style.scss */
#pflLeft h4 {
  padding-top: 15px;
}
/* line 78, ../sass/style.scss */
.right h4 {
  line-height: 25px;
}

/* line 82, ../sass/style.scss */
h5 {
  font-size: 14px;
}
/* line 84, ../sass/style.scss */
#profile h5 {
  font-weight: lighter;
}
/* line 87, ../sass/style.scss */
#pflLeft h5 {
  padding: 5px 0px 0px 20px;
}
/* line 90, ../sass/style.scss */
#plfRightTop h5 {
  padding-top: 2px;
}

/* line 94, ../sass/style.scss */
.blok {
  position: relative;
  top: 70px;
  display: block;
}

/* line 99, ../sass/style.scss */
#wrapper {
  width: 1280px;
  height: 12535px;
  background-color: #fff;
  /* background-image: linear-gradient($gray, $bgray); */
  margin: 0 auto;
  padding: 55px 40px 0px 40px;
}

/* line 107, ../sass/style.scss */
#top {
  /* margin-left: 40px; */
  width: 1200px;
  height: 705px;
  background-image: url(../images/topfont.png);
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: top;
}

/* line 116, ../sass/style.scss */
#gNavi {
  padding-top: 90px;
  width: 1200px;
}
/* line 119, ../sass/style.scss */
#gNavi li {
  list-style: none;
  width: 120px;
  float: left;
}

/* line 125, ../sass/style.scss */
.navi {
  padding: 0 20px;
  z-index: 90;
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  font-size: 85%;
  background: #2980b9;
}
/* line 133, ../sass/style.scss */
.navi li {
  list-style: none;
  width: 60px;
  height: 100px;
  float: right;
}
/* line 138, ../sass/style.scss */
.navi li:first-child {
  width: auto;
  padding: 25px 5px;
  float: left;
  transition: 0.5s;
}
/* line 143, ../sass/style.scss */
.navi li:first-child:hover {
  opacity: 0.5;
}
/* line 147, ../sass/style.scss */
.navi li a {
  text-decoration: none;
  color: #ecf0f2;
  display: block;
}
/* line 151, ../sass/style.scss */
.navi li a img {
  width: 60px;
  height: 100px;
}
/* line 157, ../sass/style.scss */
.navi .imgset1 {
  width: auto;
  height: 50px;
}

/* line 162, ../sass/style.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 168, ../sass/style.scss */
.pageTop {
  margin: 0;
  padding: 0;
  display: none;
}
/* line 172, ../sass/style.scss */
.pageTop a {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

/* line 180, ../sass/style.scss */
#moveTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* line 184, ../sass/style.scss */
#moveTop a {
  width: 100px;
  height: 100px;
  display: block;
  transition: 0.5s;
}
/* line 189, ../sass/style.scss */
#moveTop a:hover {
  opacity: 0.5;
}

/* line 194, ../sass/style.scss */
.heading {
  margin: 185px 0px 185px 0px;
  width: 1200px;
  height: 185px;
  background-position: center left;
  border-bottom: solid 20px #2980b9;
}

/* line 202, ../sass/style.scss */
#head_profile {
  background-image: url(../images/profile.png);
}
/* line 205, ../sass/style.scss */
#head_installation {
  background-image: url(../images/installation.png);
}
/* line 208, ../sass/style.scss */
#head_softwere {
  background-image: url(../images/softwere.png);
}
/* line 211, ../sass/style.scss */
#head_web {
  background-image: url(../images/web.png);
}
/* line 214, ../sass/style.scss */
#head_exhibition {
  background-image: url(../images/exhibition.png);
}
/* line 217, ../sass/style.scss */
#head_graphic {
  background-image: url(../images/graphic.png);
}
/* line 220, ../sass/style.scss */
#head_other {
  background-image: url(../images/other.png);
}

/* line 224, ../sass/style.scss */
.contents {
  margin: 0 auto;
  width: 1080px;
}

/* line 228, ../sass/style.scss */
.left {
  width: 540px;
  float: left;
}

/* line 232, ../sass/style.scss */
.right {
  width: 540px;
  float: right;
}
/* line 235, ../sass/style.scss */
#installation > .right {
  padding-top: 312px;
}
/* line 238, ../sass/style.scss */
#trcd > .right {
  padding-top: 454px;
}
/* line 241, ../sass/style.scss */
#hony > .right {
  padding-top: 204px;
}
/* line 244, ../sass/style.scss */
#crsh > .right {
  padding-top: 478px;
}
/* line 247, ../sass/style.scss */
#sngo > .right {
  padding-top: 466px;
}
/* line 250, ../sass/style.scss */
#klid > .right {
  padding-top: 368px;
}
/* line 253, ../sass/style.scss */
#tylt > .right {
  padding-top: 475px;
}
/* line 256, ../sass/style.scss */
#cggg > .right {
  padding-top: 341px;
}
/* line 259, ../sass/style.scss */
#gfds > .right {
  padding-top: 428px;
}
/* line 262, ../sass/style.scss */
#neng > .right {
  padding-top: 428px;
}
/* line 265, ../sass/style.scss */
#csta > .right {
  padding-top: 431px;
}

/* プロフィール */
/* line 270, ../sass/style.scss */
#profile {
  margin: 0 auto;
  width: 860px;
  height: 640px;
}

/* line 275, ../sass/style.scss */
#pflLeft {
  width: 320px;
  height: 640px;
  padding-top: 240px;
  background-image: url(../images/prfPic.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px auto;
  float: left;
}

/* line 285, ../sass/style.scss */
#plfLeftLeft {
  float: left;
}

/* line 288, ../sass/style.scss */
#plfLeftRight {
  float: right;
}

/* line 291, ../sass/style.scss */
#plfRight {
  width: 540px;
  height: 640px;
  padding: 232px 0px 0px 60px;
  float: right;
}

/* line 297, ../sass/style.scss */
#plfRightBottom {
  padding-top: 0px;
}

/* line 300, ../sass/style.scss */
td {
  padding-top: 5px;
}

/* line 303, ../sass/style.scss */
.exh4 {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

/* line 308, ../sass/style.scss */
.exh5 {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 10px;
}

/* インスタレーション */
/* line 315, ../sass/style.scss */
#installation {
  height: 444px;
}

/* line 318, ../sass/style.scss */
#insta_imgwrap {
  width: 487px;
  /* height: 444px; */
  margin: 0 auto;
}
/* line 322, ../sass/style.scss */
#insta_imgwrap > .imgset1 {
  float: left;
  width: 169px;
  height: 232px;
  /* background-image: url(../images/portfolioWeb2_03.png); */
  /* background-size: auto 232px; */
}
/* line 329, ../sass/style.scss */
#insta_imgwrap > .imgset2 {
  float: right;
  width: 313px;
  height: 232px;
  /* background-image: url(../images/portfolioWeb2_05.png); */
  /* background-size: auto 232px; */
}
/* line 336, ../sass/style.scss */
#insta_imgwrap > .imgset3 {
  margin-top: 6px;
  float: left;
  width: 276px;
  height: 206px;
  /* background-image: url(../images/portfolioWeb2_09.png); */
  /* background-size: auto 206px; */
}
/* line 344, ../sass/style.scss */
#insta_imgwrap > .imgset4 {
  margin-top: 6px;
  float: right;
  width: 206px;
  height: 206px;
  /* background-image: url(../images/portfolioWeb2_11.png); */
  /* background-size: auto 206px; */
}

/* ソフトウェア */
/* line 355, ../sass/style.scss */
#softwere {
  height: 1199px;
}

/* line 358, ../sass/style.scss */
#trcd {
  height: 628px;
}
/* line 360, ../sass/style.scss */
#trcd_imgwrap {
  margin: 0 auto;
  width: 392px;
  /* height: 628px; */
}
/* line 364, ../sass/style.scss */
#trcd_imgwrap > .imgset1 {
  width: 392px;
  height: 306px;
  /* background-image: url(../images/softphoto1.png); */
}
/* line 369, ../sass/style.scss */
#trcd_imgwrap > .imgset2 {
  float: left;
  margin-top: 6px;
  width: 178px;
  height: 316px;
  /* background-image: url(../images/softphoto2.png); */
  /* background-size: auto 316px; */
}
/* line 377, ../sass/style.scss */
#trcd_imgwrap > .imgset3 {
  float: right;
  margin-top: 6px;
  width: 209px;
  height: 316px;
  /* background-image: url(../images/softphoto3.png); */
  /* background-size: auto 316px; */
}

/* line 387, ../sass/style.scss */
#hony {
  margin: 235px 0px 0px 0px;
  height: 336px;
}
/* line 390, ../sass/style.scss */
#hony_imgwrap {
  margin: 0 auto;
  width: 331px;
}
/* line 393, ../sass/style.scss */
#hony_imgwrap > .imgset1 {
  width: 331px;
  height: 336px;
  /* background-image: url(../images/houny.png); */
  /* background-size: auto 336px; */
}

/* ウェブ */
/* line 403, ../sass/style.scss */
#crsh {
  height: 598px;
}
/* line 405, ../sass/style.scss */
#crsh_imgwrap {
  margin: 0 auto;
  width: 465px;
}
/* line 408, ../sass/style.scss */
#crsh_imgwrap > .imgset1 {
  margin: 6px 0px 0px 0px;
  width: 465px;
  height: 290px;
  /* background-image: url(../images/crashphoto1.png); */
  /* background-size: auto 290px; */
}
/* line 415, ../sass/style.scss */
#crsh_imgwrap > .imgset2 {
  margin: 6px 0px 0px 0px;
  float: left;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/crashphoto2.png); */
  /* background-size: 226px auto; */
}
/* line 423, ../sass/style.scss */
#crsh_imgwrap > .imgset3 {
  margin: 6px 0px 0px 0px;
  float: right;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/crashphoto3.png); */
  /* background-size: 226px auto; */
}
/* line 431, ../sass/style.scss */
#crsh_imgwrap > .imgset4 {
  float: left;
  margin: 6px 0px 0px 0px;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/crashphoto4.png); */
  /* background-size: 226px auto; */
}
/* line 439, ../sass/style.scss */
#crsh_imgwrap > .imgset5 {
  margin: 6px 0px 0px 0px;
  float: right;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/crashphoto5.png); */
  /* background-size: 226px auto; */
}

/* line 449, ../sass/style.scss */
#sngo {
  margin-top: 235px;
  height: 598px;
}
/* line 452, ../sass/style.scss */
#sngo_imgwrap {
  margin: 0 auto;
  width: 465px;
}
/* line 455, ../sass/style.scss */
#sngo_imgwrap > .imgset1 {
  margin: 6px 0px 0px 0px;
  width: 465px;
  height: 290px;
  /* background-image: url(../images/sengophoto1.png); */
  /* background-size: auto 290px; */
}
/* line 462, ../sass/style.scss */
#sngo_imgwrap > .imgset2 {
  margin: 6px 0px 0px 0px;
  float: left;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/sengophoto2.png); */
  /* background-size: 226px auto; */
}
/* line 470, ../sass/style.scss */
#sngo_imgwrap > .imgset3 {
  margin: 6px 0px 0px 0px;
  float: right;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/sengophoto3.png); */
  /* background-size: 226px auto; */
}
/* line 478, ../sass/style.scss */
#sngo_imgwrap > .imgset4 {
  float: left;
  margin: 6px 0px 0px 0px;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/sengophoto4.png); */
  /* background-size: 226px auto; */
}
/* line 486, ../sass/style.scss */
#sngo_imgwrap > .imgset5 {
  margin: 6px 0px 0px 0px;
  float: right;
  width: 226px;
  height: 145px;
  /* background-image: url(../images/sengophoto5.png); */
  /* background-size: 226px auto; */
}

/* エキシビション */
/* line 499, ../sass/style.scss */
#klid {
  height: 497px;
}
/* line 501, ../sass/style.scss */
#klid_imgwrap {
  margin: 0 auto;
  width: 519px;
}
/* line 504, ../sass/style.scss */
#klid_imgwrap > .imgset1 {
  width: 519px;
  height: 264px;
  /* background-image: url(../images/kaleidophoto1.png); */
  /* background-size: 519px auto; */
}
/* line 510, ../sass/style.scss */
#klid_imgwrap > .imgset2 {
  float: left;
  margin: 6px 0px 0px 0px;
  width: 254px;
  height: 227px;
  /* background-image: url(../images/kaleidophoto2.png); */
  /* background-size: 254px auto; */
}
/* line 518, ../sass/style.scss */
#klid_imgwrap > .imgset3 {
  float: right;
  margin: 6px 0px 0px 0px;
  width: 259px;
  height: 103px;
  /* background-image: url(../images/kaleidophoto3.png); */
  /* background-size: 259px auto; */
}
/* line 526, ../sass/style.scss */
#klid_imgwrap > .imgset4 {
  float: right;
  margin: 5px 0px 0px 0px;
  width: 259px;
  height: 118px;
  /* background-image: url(../images/kaleidophoto4.png); */
  /* background-size: 259px auto; */
}

/* line 536, ../sass/style.scss */
#tylt {
  margin-top: 235px;
  height: 629px;
}
/* line 539, ../sass/style.scss */
#tylt_imgwrap {
  margin: 0 auto;
  width: 502px;
  height: 629px;
}
/* line 543, ../sass/style.scss */
#tylt_imgwrap > .imgset1 {
  float: left;
  width: 200px;
  height: 629px;
  /* background-image: url(../images/toylephoto1.png); */
  /* background-size: 200px auto; */
}
/* line 550, ../sass/style.scss */
#tylt_imgwrap > .imgset2 {
  float: right;
  width: 297px;
  height: 225px;
  /* background-image: url(../images/toylephoto2.png); */
  /* background-size: 297px auto; */
}
/* line 557, ../sass/style.scss */
#tylt_imgwrap > .imgset3 {
  margin: 5px 0px 0px 0px;
  float: right;
  width: 146px;
  height: 146px;
  /* background-image: url(../images/toylephoto3.png); */
  /* background-size: 146px auto; */
}
/* line 565, ../sass/style.scss */
#tylt_imgwrap > .imgset4 {
  margin: 5px 5px 0px 0px;
  float: right;
  width: 146px;
  height: 146px;
  /* background-image: url(../images/toylephoto4.png); */
  /* background-size: 146px auto; */
}
/* line 573, ../sass/style.scss */
#tylt_imgwrap > .imgset5 {
  margin: 5px 0px 0px 0px;
  float: right;
  width: 297px;
  height: 247px;
  /* background-image: url(../images/toylephoto5.png); */
  /* background-size: 297px auto; */
}

/* グラフィック */
/* line 585, ../sass/style.scss */
#cggg {
  height: 470px;
}
/* line 587, ../sass/style.scss */
#cggg_imgwrap {
  margin: 0 auto;
  width: 470px;
  height: 470px;
}
/* line 591, ../sass/style.scss */
#cggg_imgwrap > .imgset1 {
  float: left;
  width: 232px;
  height: 232px;
  /* background-image: url(../images/choujyu1.png); */
  /* background-size: 232px auto; */
}
/* line 598, ../sass/style.scss */
#cggg_imgwrap > .imgset2 {
  float: right;
  width: 232px;
  height: 232px;
  /* background-image: url(../images/choujyu2.png); */
  /* background-size: 232px auto; */
}
/* line 605, ../sass/style.scss */
#cggg_imgwrap > .imgset3 {
  margin: 5px 0px 0px 0px;
  float: left;
  width: 232px;
  height: 232px;
  /* background-image: url(../images/choujyu3.png); */
  /* background-size: 232px auto; */
}
/* line 613, ../sass/style.scss */
#cggg_imgwrap > .imgset4 {
  margin: 5px 0px 0px 0px;
  float: right;
  width: 232px;
  height: 232px;
  /* background-image: url(../images/choujyu4.png); */
  /* background-size: 232px auto; */
}

/* line 623, ../sass/style.scss */
#gfds {
  height: 557px;
  margin-top: 235px;
}
/* line 626, ../sass/style.scss */
#gfds_imgwrap {
  margin: 0 auto;
  width: 400px;
  height: 557px;
}
/* line 630, ../sass/style.scss */
#gfds_imgwrap > .imgset1 {
  width: 398px;
  height: 557px;
  /* background-image: url(../images/flier1.png); */
  /* background-size: 398px auto; */
}

/* line 638, ../sass/style.scss */
#neng {
  margin-top: 235px;
  height: 557px;
}
/* line 641, ../sass/style.scss */
#neng_imgwrap {
  margin: 0 auto;
  width: 400px;
  height: 557px;
}
/* line 645, ../sass/style.scss */
#neng_imgwrap > .imgset1 {
  width: 398px;
  height: 557px;
  /* background-image: url(../images/nennga1.png); */
  /* background-size: 398px auto; */
}

/* アザー */
/* line 655, ../sass/style.scss */
#csta {
  height: 560px;
}
/* line 657, ../sass/style.scss */
#csta_imgwrap {
  margin: 0 auto;
  height: 560px;
  width: 403px;
}
/* line 661, ../sass/style.scss */
#csta_imgwrap > .imgset1 {
  /* width: 403px; */
  height: 269px;
  /* background-image: url(../images/cstphoto1.png); */
  background-size: 403px auto;
}
/* line 667, ../sass/style.scss */
#csta_imgwrap > .imgset2 {
  margin: 5px 0px 0px 0px;
  width: 187px;
  height: 140px;
  /* background-image: url(../images/cstphoto2.png); */
  /* background-size: 187px auto; */
}
/* line 674, ../sass/style.scss */
#csta_imgwrap > .imgset3 {
  margin: 5px 0px 0px 0px;
  width: 187px;
  height: 139px;
  float: left;
  /* background-image: url(../images/cstphoto3.png); */
  /* background-size: 187px auto; */
}
/* line 682, ../sass/style.scss */
#csta_imgwrap > .imgset4 {
  margin: 5px 0px 0px 0px;
  /* width: 210px; */
  height: 285px;
  float: right;
  /* background-image: url(../images/cstphoto4.png); */
  /* background-size: 210px auto; */
}

/* フッター */
/* line 694, ../sass/style.scss */
#gfooter {
  width: 1280px;
  height: 372px;
  margin: 0 auto;
  background-color: #2980b9;
  padding: 0px 40px;
}
/* line 700, ../sass/style.scss */
#gfooter li {
  list-style: none;
}

/* line 704, ../sass/style.scss */
#footicon {
  width: 291px;
  height: auto;
}

/* line 708, ../sass/style.scss */
.lfooter {
  width: auto;
  height: 222px;
  padding: 60px 100px 0px 0px;
  float: left;
}

/* line 714, ../sass/style.scss */
.homefooter {
  width: 291px;
  height: auto;
  margin-right: 191px;
  padding: 60px 0px 0px 0px;
  float: left;
}

/* line 721, ../sass/style.scss */
.footerlink {
  padding-top: 5px;
  line-height: 35px;
}
/* line 724, ../sass/style.scss */
.footerlink img {
  padding-top: 10px;
}
