@charset "utf-8";

@import "compass";

$blue: rgb(41, 128, 185);
$gray: rgb(236, 240, 242);
$bgray: rgb(201, 201, 201);
$imgPATH: "../images/";

body {
	background-color: $gray;
	color: $blue;
	font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a{
	@include hover-link;
	@include link-colors($gray, $bgray);
	/* &:link{
		color: $gray;
	}
	&:visited{
		color: $gray;
	}
	&:hover{
		color: $bgray;
		text-decoration: underline;
	}
	&:active{
		color: $gray;
	} */
}
h1{
	font-size: 36px;
	#profile & {
		font-size: 73px;
		font-weight: bold;
	}
	.lfooter & {
		font-size: 24px;
		font-weight: bold;
		color: $gray;
	}
}
h2{
	font-size: 24px;
	#profile & {
		font-weight: bold;
	}
	#pflLeft & {
		text-align: center;
	}
}
h3{
	font-size: 16px;
	#profile & {
		font-weight: bold;
	}
	#pflLeft & {
		text-align: center;
		padding-top: 20px;
	}
	#plfRight & {
		text-align: center;
		padding-top: 10px;
	}
	#plfRightTop & {
		padding-bottom: 5px;
	}
}
h4{
	font-size: 14px;
	#profile & {
		font-weight: bold;
	}
	#pflLeft & {
		padding-top: 15px;
	}
	.right & {
		line-height: 25px;
	}
}
h5{
	font-size: 14px;
	#profile & {
		font-weight: lighter;
	}
	#pflLeft & {
		padding: 5px 0px 0px 20px;
	}
	#plfRightTop & {
		padding-top: 2px;
	}
}
.blok {
  position: relative;
  top: 70px;
  display: block;
}
#wrapper{
	width: 1280px;
	height: 12535px;
	background-color: #fff;
	/* background-image: linear-gradient($gray, $bgray); */
	margin: 0 auto;
	padding: 55px 40px 0px 40px;
}
#top{
	/* margin-left: 40px; */
	width: 1200px;
	height: 705px;
	background-image: url(#{$imgPATH}topfont.png);
	background-size: 1200px auto;
	background-repeat: no-repeat;
	background-position: top;
}
#gNavi{
	padding-top: 90px;
	width: 1200px;
	li{
		list-style:none;
		width:120px;
		float:left;
	}
}
.navi{
	padding: 0 20px;
	z-index: 90;
	margin: 0 auto;
	width: 1200px;
	height: 100px;
	font-size: 85%;
	background: rgb(41, 128, 185);
	li{
		list-style: none;
		width: 60px;
		height: 100px;
		float: right;
		&:first-child{
			width: auto;
			padding: 25px 5px;
			float: left;
			transition: 0.5s;
			&:hover{
				opacity: 0.5
			}
		}
		a{
			text-decoration: none;
			color: $gray;
			display: block;
			img{
				width: 60px;
				height: 100px;
			}
		}
	}
	.imgset1{
		width: auto;
		height: 50px;
	}
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.pageTop{
	margin: 0;
	padding: 0;
	display: none;
	a{
		margin: 0;
		padding: 0;
		position: fixed;
		bottom: 16px;
		right: 16px;
	}
}
#moveTop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	a{
		width: 100px;
		height: 100px;
		display: block;
		transition: 0.5s;
		&:hover{
			opacity: 0.5;
		}
	}
}
.heading{
	margin: 185px 0px 185px 0px;
	width: 1200px;
	height: 185px;
	background-position: center left;
	border-bottom: solid 20px $blue;
}
#head{
	&_profile{
		background-image: url(#{$imgPATH}profile.png);
	}
	&_installation{
		background-image: url(#{$imgPATH}installation.png);
	}
	&_softwere{
		background-image: url(#{$imgPATH}softwere.png);
	}
	&_web{
		background-image: url(#{$imgPATH}web.png);
	}
	&_exhibition{
		background-image: url(#{$imgPATH}exhibition.png);
	}
	&_graphic{
		background-image: url(#{$imgPATH}graphic.png);
	}
	&_other{
		background-image: url(#{$imgPATH}other.png);
	}
}
.contents{
	margin: 0 auto;
	width: 1080px;
}
.left{
	width: 540px;
	float: left;
}
.right{
	width: 540px;
	float: right;
	#installation > & {
		padding-top: 312px;
	}
	#trcd > & {
		padding-top: 454px;
	}
	#hony > & {
		padding-top: 204px;
	}
	#crsh > & {
		padding-top: 478px;
	}
	#sngo > & {
		padding-top: 466px;
	}
	#klid > & {
		padding-top: 368px;
	}
	#tylt > & {
		padding-top: 475px;
	}
	#cggg > & {
		padding-top: 341px;
	}
	#gfds > & {
		padding-top: 428px;
	}
	#neng > & {
		padding-top: 428px;
	}
	#csta > & {
		padding-top: 431px;
	}
}
/* プロフィール */
#profile{
	margin: 0 auto;
	width: 860px;
	height: 640px;
}
#pflLeft{
	width: 320px;
	height: 640px;
	padding-top: 240px;
	background-image: url(#{$imgPATH}prfPic.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 320px auto;
	float: left;
}
#plfLeftLeft{
	float: left;
}
#plfLeftRight{
	float: right;
}
#plfRight{
	width: 540px;
	height: 640px;
	padding: 232px 0px 0px 60px;
	float: right;
}
#plfRightBottom{
	padding-top: 0px;
}
td{
	padding-top: 5px;
}
.exh4{
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
.exh5{
	font-size: 14px;
	font-weight: lighter;
	padding-left: 10px;
}

/* インスタレーション */
#installation{
	height: 444px;
}
#insta_imgwrap{
	width: 487px;
	/* height: 444px; */
	margin: 0 auto;
	& > .imgset1{
		float: left;
		width: 169px;
		height: 232px;
		/* background-image: url(#{$imgPATH}portfolioWeb2_03.png); */
		/* background-size: auto 232px; */
	}
	& > .imgset2{
		float: right;
		width: 313px;
		height: 232px;
		/* background-image: url(#{$imgPATH}portfolioWeb2_05.png); */
		/* background-size: auto 232px; */
	}
	& > .imgset3{
		margin-top: 6px;
		float: left;
		width: 276px;
		height: 206px;
		/* background-image: url(#{$imgPATH}portfolioWeb2_09.png); */
		/* background-size: auto 206px; */
	}
	& > .imgset4{
		margin-top: 6px;
		float: right;
		width: 206px;
		height: 206px;
		/* background-image: url(#{$imgPATH}portfolioWeb2_11.png); */
		/* background-size: auto 206px; */
	}
}

/* ソフトウェア */
#softwere{
	height: 1199px;
}
#trcd{
	height: 628px;
	&_imgwrap{
		margin: 0 auto;
		width: 392px;
		/* height: 628px; */
		& > .imgset1{
			width: 392px;
			height: 306px;
			/* background-image: url(#{$imgPATH}softphoto1.png); */
		}
		& > .imgset2{
			float: left;
			margin-top: 6px;
			width: 178px;
			height: 316px;
			/* background-image: url(#{$imgPATH}softphoto2.png); */
			/* background-size: auto 316px; */
		}
		& > .imgset3{
			float: right;
			margin-top: 6px;
			width: 209px;
			height: 316px;
			/* background-image: url(#{$imgPATH}softphoto3.png); */
			/* background-size: auto 316px; */
		}
	}
}
#hony{
	margin: 235px 0px 0px 0px;
	height: 336px;
	&_imgwrap{
		margin: 0 auto;
		width: 331px;
		& > .imgset1{
			width: 331px;
			height: 336px;
			/* background-image: url(#{$imgPATH}houny.png); */
			/* background-size: auto 336px; */
		}
	}
}

/* ウェブ */
#crsh{
	height: 598px;
	&_imgwrap{
		margin: 0 auto;
		width: 465px;
		& > .imgset1{
			margin: 6px 0px 0px 0px;
			width: 465px;
			height: 290px;
			/* background-image: url(#{$imgPATH}crashphoto1.png); */
			/* background-size: auto 290px; */
		}
		& > .imgset2{
			margin: 6px 0px 0px 0px;
			float: left;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}crashphoto2.png); */
			/* background-size: 226px auto; */
		}
		& > .imgset3{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}crashphoto3.png); */
			/* background-size: 226px auto; */
		}
		& > .imgset4{
			float: left;
			margin: 6px 0px 0px 0px;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}crashphoto4.png); */
			/* background-size: 226px auto; */
		}
		& > .imgset5{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}crashphoto5.png); */
			/* background-size: 226px auto; */
		}
	}
}
#sngo{
	margin-top: 235px;
	height: 598px;
	&_imgwrap{
		margin: 0 auto;
		width: 465px;
		& > .imgset1{
			margin: 6px 0px 0px 0px;
			width: 465px;
			height: 290px;
			/* background-image: url(#{$imgPATH}sengophoto1.png); */
			/* background-size: auto 290px; */
		}
		& > .imgset2{
			margin: 6px 0px 0px 0px;
			float: left;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}sengophoto2.png); */
			/* background-size: 226px auto; */
		}
		& > .imgset3{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}sengophoto3.png); */
			/* background-size: 226px auto; */
		}
		& > .imgset4{
			float: left;
			margin: 6px 0px 0px 0px;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}sengophoto4.png); */
			/* background-size: 226px auto; */
		}
		& > .imgset5{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
			/* background-image: url(#{$imgPATH}sengophoto5.png); */
			/* background-size: 226px auto; */
		}
	}
}


/* エキシビション */
#klid{
	height: 497px;
	&_imgwrap{
		margin: 0 auto;
		width: 519px;
		& > .imgset1{
			width: 519px;
			height: 264px;
			/* background-image: url(#{$imgPATH}kaleidophoto1.png); */
			/* background-size: 519px auto; */
		}
		& > .imgset2{
			float: left;
			margin: 6px 0px 0px 0px;
			width: 254px;
			height: 227px;
			/* background-image: url(#{$imgPATH}kaleidophoto2.png); */
			/* background-size: 254px auto; */
		}
		& > .imgset3{
			float: right;
			margin: 6px 0px 0px 0px;
			width: 259px;
			height: 103px;
			/* background-image: url(#{$imgPATH}kaleidophoto3.png); */
			/* background-size: 259px auto; */
		}
		& > .imgset4{
			float: right;
			margin: 5px 0px 0px 0px;
			width: 259px;
			height: 118px;
			/* background-image: url(#{$imgPATH}kaleidophoto4.png); */
			/* background-size: 259px auto; */
		}
	}
}
#tylt{
	margin-top: 235px;
	height: 629px;
	&_imgwrap{
		margin: 0 auto;
		width: 502px;
		height: 629px;
		& > .imgset1{
			float: left;
			width: 200px;
			height: 629px;
			/* background-image: url(#{$imgPATH}toylephoto1.png); */
			/* background-size: 200px auto; */
		}
		& > .imgset2{
			float: right;
			width: 297px;
			height: 225px;
			/* background-image: url(#{$imgPATH}toylephoto2.png); */
			/* background-size: 297px auto; */
		}
		& > .imgset3{
			margin: 5px 0px 0px 0px;
			float: right;
			width: 146px;
			height: 146px;
			/* background-image: url(#{$imgPATH}toylephoto3.png); */
			/* background-size: 146px auto; */
		}
		& > .imgset4{
			margin: 5px 5px 0px 0px;
			float: right;
			width: 146px;
			height: 146px;
			/* background-image: url(#{$imgPATH}toylephoto4.png); */
			/* background-size: 146px auto; */
		}
		& > .imgset5{
			margin: 5px 0px 0px 0px;
			float: right;
			width: 297px;
			height: 247px;
			/* background-image: url(#{$imgPATH}toylephoto5.png); */
			/* background-size: 297px auto; */
		}
	}
}

/* グラフィック */
#cggg{
	height: 470px;
	&_imgwrap{
		margin: 0 auto;
		width: 470px;
		height: 470px;
		& > .imgset1{
			float: left;
			width: 232px;
			height: 232px;
			/* background-image: url(#{$imgPATH}choujyu1.png); */
			/* background-size: 232px auto; */
		}
		& > .imgset2{
			float: right;
			width: 232px;
			height: 232px;
			/* background-image: url(#{$imgPATH}choujyu2.png); */
			/* background-size: 232px auto; */
		}
		& > .imgset3{
			margin: 5px 0px 0px 0px;
			float: left;
			width: 232px;
			height: 232px;
			/* background-image: url(#{$imgPATH}choujyu3.png); */
			/* background-size: 232px auto; */
		}
		& > .imgset4{
			margin: 5px 0px 0px 0px;
			float: right;
			width: 232px;
			height: 232px;
			/* background-image: url(#{$imgPATH}choujyu4.png); */
			/* background-size: 232px auto; */
		}
	}
}
#gfds{
	height: 557px;
	margin-top: 235px;
	&_imgwrap{
		margin: 0 auto;
		width: 400px;
		height: 557px;
		& > .imgset1{
			width: 398px;
			height: 557px;
			/* background-image: url(#{$imgPATH}flier1.png); */
			/* background-size: 398px auto; */
		}
	}
}
#neng{
	margin-top: 235px;
	height: 557px;
	&_imgwrap{
		margin: 0 auto;
		width: 400px;
		height: 557px;
		& > .imgset1{
			width: 398px;
			height: 557px;
			/* background-image: url(#{$imgPATH}nennga1.png); */
			/* background-size: 398px auto; */
		}
	}
}

/* アザー */
#csta{
	height: 560px;
	&_imgwrap{
		margin: 0 auto;
		height: 560px;
		width: 403px;
		& > .imgset1{
			/* width: 403px; */
			height: 269px;
			/* background-image: url(#{$imgPATH}cstphoto1.png); */
			background-size: 403px auto;
		}
		& > .imgset2{
			margin: 5px 0px 0px 0px;
			width: 187px;
			height: 140px;
			/* background-image: url(#{$imgPATH}cstphoto2.png); */
			/* background-size: 187px auto; */
		}
		& > .imgset3{
			margin: 5px 0px 0px 0px;
			width: 187px;
			height: 139px;
			float: left;
			/* background-image: url(#{$imgPATH}cstphoto3.png); */
			/* background-size: 187px auto; */
		}
		& > .imgset4{
			margin: 5px 0px 0px 0px;
			/* width: 210px; */
			height: 285px;
			float: right;
			/* background-image: url(#{$imgPATH}cstphoto4.png); */
			/* background-size: 210px auto; */
		}
	}
}

/* フッター */
#gfooter{
	width: 1280px;
	height: 372px;
	margin: 0 auto;
	background-color: $blue;
	padding: 0px 40px;
	li {
		list-style: none;
	}
}
#footicon{
	width: 291px;
	height: auto;
}
.lfooter{
	width: auto;
	height: 222px;
	padding: 60px 100px 0px 0px;
	float: left;
}
.homefooter{
	width: 291px;
	height: auto;
	margin-right: 191px;
	padding: 60px 0px 0px 0px;
	float: left;
}
.footerlink{
	padding-top: 5px;
	line-height: 35px;
	& img{
		padding-top: 10px;
	}
}
